{% extends 'layout/layout.html'%} {% block css %}<link rel="stylesheet" href="/css/welcome.css" type="text/css" />{% endblock %}{% block content %}

<div id="welcomeWrap" class="flexColumn">
    <div id="welcomeFrm" class="flexColumn">
        <div id="userPic" class="userPicSize" style="background-image: url('/image/{{userPic}}');"></div>
        <div id="textfrm">
            <div id="userId" class="callifont flex">
                <div>아이디 :</div>
                <div>{{userId}}</div>
            </div>
            <div id="userName" class="callifont flex">
                <div>이름 :</div>
                <div>{{userName}}</div>
            </div>
            <div id="userAdress" class="callifont flex">
                <div>주소 :</div>
                <div>{{address}}</div>
            </div>
            <div id="gender" class="callifont flex">
                <div>GENDER :</div>
                <div>{{gender}}</div>
            </div>
            <div id="phoneNum" class="callifont flex">
                <div>PHONE :</div>
                <div>{{phoneNum}}</div>
            </div>
            <div id="userEmail" class="callifont flex">
                <div>E-Mail :</div>
                <div>{{userEmail}}</div>
            </div>
            <div id="userIntro" class="callifont textbox">
                <div>INTRODUCTION :</div>
                <div>
                    <span></span>
                    <span>{{userIntro}}asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasd</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-center myPageBtn Btn">
        <a href="/">메인페이지로 이동하기</a>
    </div>
</div>

<br />
{{userPic}} {{userPw}} , {{userName}}, {{nickName}}, {{address}}, {{gender}}, {{phoneNum}}, {{userEmail}}, {{userIntro}}
<br />
{% endblock %}
