{% extends 'layout/layout.html'%} {% block css %}
<br />
<link rel="stylesheet" href="/css/board.view.css" />
{% endblock %}
<br />
{% extends 'layout/layout.html'%} {% block content %}
<input type="hidden" name="hidden" id="hidden" value="{{newBoard.content}}" />
<input type="hidden" name="boardIdx" id="boardIdx" value="{{newBoard.boardIdx}}" />
<div id="container">
    <div id="container_header">
        <div id="subject">제목 : {{newBoard.subject}}</div>
        <div id="writerTime">
            <div id="writeUser">
                <span id="userId" class="userPicSize" style="background-image: url('/image/{{newBoard.userPic}}');"></span>
                <span id="writer">작성자 : {{newBoard.userId}}</span>
            </div>
            <span id="Timestamp">
                <span id="updatedTime">{{newBoard.createdAt}}</span>
            </span>
        </div>
    </div>

    <div id="content">{{newBoard.content}}</div>
    <ul>
        {% for tags in newHashTagVal %}
        <li id="tags">#{{tags.tag}}</li>
        {% endfor %}
    </ul>
</div>
<div class="flex-center" id="writeCheckArea">
    <div id="writeCheckBtn" class="flex-center"><a href="/board/{{mainCd}}?page=1"> 확인완료 </a></div>
</div>
<script src="/js/view.js" type="text/javascript"></script>
{% endblock %}
